<article>
  <ul>
    {% if not_profile_page %}
      <li>
        Автор:
        {% if post.author.get_full_name %}
          {{ post.author.get_full_name }}
          ({{ post.author.get_username }})
        {% else %}
          {{ post.author.get_username }}
        {% endif %}
        <a href="{% url 'posts:profile' post.author %}"> Все посты пользователя </a>
      </li>
    {% endif %}
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>

  {% load thumbnail %}
  {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
    <img class="card-img my-2" src="{{ im.url }}">
  {% endthumbnail %}

  <p>{{ post.text }}</p>
  <div>
    <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
  </div>
  {% if post.group and not is_group_page %}
    <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
  {% endif %}
  {% if not forloop.last %}<hr>{% endif %}
</article>